<!DOCTYPE html>
<html>
<head>
  <title>MusicNetwork</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
	<h1>the header</h1>
</header>
<body>

<%= yield %>

</body>
<footer>
	<h4>the footer</h4>
</footer>
</html>
